@model BusinessObject.Order

@{
    ViewData["Title"] = "Order Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order Details</h1>
<hr />
@if (ViewBag.Error != null)
{
    <div class="text-danger">
        @ViewBag.Error
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrderId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrderId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrderDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrderDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Member)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Member.Fullname)
            </dd>
            <dt class="col-sm-2">
                Order Total
            </dt>
            <dd class="col-sm-10">
                @ViewBag.OrderTotal
            </dd>
        </dl>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var orderDetails in Model.OrderDetails)
                {
                    decimal price = Math.Round(orderDetails.UnitPrice * (1 - Convert.ToDecimal(orderDetails.Discount)), 2);
                    <tr>
                        <td>
                            @orderDetails.Product.ProductName
                        </td>
                        <td>
                            @orderDetails.Quantity
                        </td>
                        <td>
                            @price
                        </td>
                        <td>
                            @(price*orderDetails.Quantity)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <a asp-action="Delete" asp-route-id="@Model.OrderId">Delete Order</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}